<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="form-horizontal" action="/chat" method="post">

    <div class="form-group">
        <label for="room-name" class="col-md-2 control-label">Room name</label>
        <div class="col-md-10">
            <input id="room-name" type="text" class="form-control" name="name">
            <span class="text-danger">{{errors.name}}</span>
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="password" class="col-md-2 control-label">Password</label>-->
        <!--<div class="col-md-10">-->
            <!--<input id="password" type="text" class="form-control" name="password">-->
            <!--<span class="text-danger">{{errors.password}}</span>-->
        <!--</div>-->
    <!--</div>-->


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Join chat</button>
        </div>
    </div>
</form>