<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <script src = "/assets/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/front.js"></script>
  </head>
  <body>
    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script src = "/javascripts/client.js" type="text/javascript"></script>
  </body>
</html>